<h1>All Owners</h1>

<%= form_with url: owners_path, method: :get, local: true do %>
  <div>
    <%= label_tag :query, "Search Owners:" %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search" %>
  </div>
<% end %>

<ul>
  <% @owners.each do |owner| %>
    <li><%= link_to owner.name, owner_path(owner) %></li>
  <% end %>
</ul>

<%= paginate @owners %>
